{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Styles, components, patterns prototype - Styles, components, patterns index
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/styles-components-patterns">Styles, components and patterns</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v1/styles-components-patterns">Back to styles, components and patterns</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

			<h1>Patterns</h1>
			<p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Patterns are this and that thing.</p>

			<p>You can combine <a href="/v1/styles-components-patterns/components">components</a> in different patterns for different contexts.<p>
      
      <p>We’re still working on patterns and will publish them here. If you have any ideas or suggestions, you can <a href="#">contribute</a></p>

    </div>  

  </div>
{% endblock %}
