{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Styles, components, patterns prototype - Styles, components, patterns index
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v3">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v3/styles-components-patterns">Styles, components and patterns</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v3/styles-components-patterns">Back to styles, components and patterns</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

			<h1>Components</h1>
			<p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Save time and help users with these accessible UI parts.</p>

			<details class="nhsuk-details">
				<summary class="nhsuk-details__summary">
					<span class="nhsuk-details__summary-text">
						What are you trying to achieve?
					</span>
				</summary>
				<div class="nhsuk-details__text">
					<ul>
						<li><a href="/v3/styles-components-patterns/components/basic-page">Make a basic page</a></li>
						<li><a href="/v3/styles-components-patterns/components/make-a-form">Make a form</a></li>
						<li><a href="/v3/styles-components-patterns/components/clinical-advice">Give clinical advice</a></li>
						<li><a href="/v3/styles-components-patterns/components/direct-to-service">Direct people to a service</a></li>
						<li><a href="/v3/styles-components-patterns/components/highlight-information">Highlight important information</a></li>
					</ul>
				</div>
			</details>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-3"><a href="#">Action link</a></h2>
			<p>Help users get to the next stage of a journey quickly by signposting the start of a digital service.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Back link</a></h2>
			<p>Help users go back to the previous page in a multi-page transaction.</p>
	

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Breadcrumbs</a></h2>
			<p>Help users understand where they are in the website.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Buttons</a></h2>
			<p>Help users carry out an action on a page like starting an application or saving their progress.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Care cards</a></h2>
			<p>Help users identify and understand the sort of care they need, who to contact and how quickly.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Checkboxes</a></h2>
			<p>Let users select one or more options on a form.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Contents list</a></h2>
			<p>Allow users to navigate between related pages, for example about a single condition.</p>

			<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Date input</a></h2>
			<p>Help users enter a memorable date, like their date of birth.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Details</a></h2>
			<p>Make a page easier to scan by letting users reveal more detailed information only if they need it.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Do and Don't lists</a></h2>
			<p>Help users understand more easily what they should and shouldn't do.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Error message</a></h2>
			<p>Explain what went wrong and how to fix it.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Error summary</a></h2>
			<p>Summarise any mistakes a user has made.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Expander</a></h2>
			<p>Make a complex topic easier to digest by letting users reveal more detailed information only if they need it.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Fieldset</a></h2>
			<p>Group related form inputs.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Footer</a></h2>
			<p>Show users they are on an NHS service and to help them find links they expect at the bottom of our pages.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Header</a></h2>
			<p>Show users they are on an NHS service and help them get started in finding what they need.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Hint text</a></h2>
			<p>Use hint text to help users understand a question.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Images</a></h2>
			<p>Use images only if there is a real user need. Avoid unnecessary decoration.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Inset text</a></h2>
			<p>Help users identify and understand important content on the page, even if they don't read the whole page.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Pagination</a></h2>
			<p>Allow users to navigate between related pages, for example about a single condition.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Radios</a></h2>
			<p>Help users to select only 1 option from a list.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Review date</a></h2>
			<p>Reassure users that our information is up-to-date.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Select</a></h2>
			<p>Let users choose an option from a long list but only use it as a last resort.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Skip link</a></h2>
			<p>Help keyboard-only users skip to the main content on a page.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Table</a></h2>
			<p>Make it easier for users to compare and scan information.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Text input</a></h2>
			<p>Let users enter a single line of text.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Textarea</a></h2>
			<p>Let users enter more than 1 line of text.</p>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-3"><a href="#">Warning callout</a></h2>
			<p>Help users understand warning content on the page, even if they don't read the whole page.</p>

    </div>  

  </div>
{% endblock %}
