{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Styles, components, patterns prototype - Styles, components, patterns index
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v1/styles-components-patterns">Styles, components and patterns</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/v1/styles-components-patterns">Back to styles, components and patterns</a></p>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

			<h1>Components</h1>
			<p class="nhsuk-body-l nhsuk-u-margin-bottom-8">Save time and help users with these accessible UI parts.</p>

		</div>
	
	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Action link",
				"description": "Help users get to the next stage of a journey quickly by signposting the start of a digital service."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Back link",
				"description": "Help users go back to the previous page in a multi-page transaction."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Breadcrumbs",
				"description": "Help users understand where they are in the website."
			}) }}
		</div>
	
	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Buttons",
				"description": "Help users carry out an action on a page like starting an application or saving their progress."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Care cards",
				"description": "Help users identify and understand the sort of care they need, who to contact and how quickly."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Checkboxes",
				"description": "Let users select one or more options on a form."
			}) }}
		</div>

	</div>


	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Contents list",
				"description": "Allow users to navigate between related pages, for example about a single condition."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Date input",
				"description": "Help users enter a memorable date, like their date of birth."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Details",
				"description": "Make a page easier to scan by letting users reveal more detailed information only if they need it."
			}) }}
		</div>

	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Do and Don't lists",
				"description": "Help users understand more easily what they should and shouldn't do."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Error message",
				"description": "Explain what went wrong and how to fix it."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Error summary",
				"description": "Summarise any mistakes a user has made."
			}) }}
		</div>

	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Do and Don't lists",
				"description": "Help users understand more easily what they should and shouldn't do."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Error message",
				"description": "Explain what went wrong and how to fix it."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Error summary",
				"description": "Summarise any mistakes a user has made."
			}) }}
		</div>

	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Expander",
				"description": "Make a complex topic easier to digest by letting users reveal more detailed information only if they need it."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Fieldset",
				"description": "Group related form inputs."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Footer",
				"description": "Show users they are on an NHS service and to help them find links they expect at the bottom of our pages."
			}) }}
		</div>

	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Header",
				"description": "Show users they are on an NHS service and help them get started in finding what they need."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Hint text",
				"description": "Use hint text to help users understand a question."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Images",
				"description": "Use images only if there is a real user need. Avoid unnecessary decoration."
			}) }}
		</div>

	</div>

	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Inset text",
				"description": "Help users identify and understand important content on the page, even if they don't read the whole page."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Pagination",
				"description": "Allow users to navigate between related pages, for example about a single condition."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Radios",
				"description": "Help users to select only 1 option from a list."
			}) }}
		</div>

	</div>


	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Review date",
				"description": "Reassure users that our information is up-to-date."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Select",
				"description": "Let users choose an option from a long list but only use it as a last resort."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Skip link",
				"description": "Help keyboard-only users skip to the main content on a page."
			}) }}
		</div>

	</div>


	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Table",
				"description": "Make it easier for users to compare and scan information."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Text input",
				"description": "Let users enter a single line of text."
			}) }}
		</div>

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Textarea",
				"description": "Let users enter more than 1 line of text."
			}) }}
		</div>

	</div>
	
	<div class="nhsuk-grid-row">

		<div class="nhsuk-grid-column-one-third">
			{{ promo({
				"href": "#",
				"imgURL": "https://via.placeholder.com/300x150",
				"heading": "Warning callout",
				"description": "Help users understand warning content on the page, even if they don't read the whole page."
			}) }}
		</div>

	</div>



</div>
{% endblock %}
